<header class="bg-orange-600 flex items-center justify-between">
    <h1 class="text-center text-white text-xl font-bold py-4 flex-1 uppercase">{{headerName()}}</h1>
    <div class="menu-container pr-4">
        <div class="icon-container flex">
            <i class="fas fa-envelope text-white pr-3 pt-[5px] cursor-pointer"></i>
            <i class="fas fa-bell text-white pr-3 pt-[5px] cursor-pointer"></i>
            <div class="avatar-placeholder cursor-pointer">
                AD
            </div>
        </div>        
    </div>
</header>
